# SPDX-License-Identifier: Apache-2.0
# RESENTMENT boot menu.

set timeout=3
set default=0

menuentry "RESENTMENT" {
	multiboot2 /boot/resentment.elf
	module2 /boot/initrd.tar initrd
	boot
}

menuentry "RESENTMENT (verbose log)" {
	multiboot2 /boot/resentment.elf loglevel=8
	module2 /boot/initrd.tar initrd
	boot
}

menuentry "RESENTMENT (serial console only)" {
	multiboot2 /boot/resentment.elf console=serial loglevel=7
	module2 /boot/initrd.tar initrd
	boot
}
